
<h3>Where I've worked</h3>
<div class="work-stuff">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sr Front End Developer<mat-chip>8 years</mat-chip></mat-card-title>
      <mat-card-subtitle>LightSpeed VT, Las Vegas, NV & Remote local</mat-card-subtitle>
    </mat-card-header>
    <div id="img-lsvt"></div>
    <mat-card-content>
      <p>
        Team size:<br />
        <mat-chip>10-25 Devs</mat-chip> <mat-chip>Front End Team</mat-chip>
      </p>
      <p>
        Tasked with:<br />
        <mat-chip>Angular implementation</mat-chip> <mat-chip>Legacy Maintenance</mat-chip> <mat-chip>Internationalization</mat-chip> <mat-chip>White Label UHD Video</mat-chip>
      </p>
      <p>
        Industry:<br />
        <mat-chip>Training</mat-chip>
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Front End Developer<mat-chip>2 years</mat-chip></mat-card-title>
      <mat-card-subtitle>Galavantier LLC, Las Vegas, NV</mat-card-subtitle>
    </mat-card-header>
    <div id="img-gvt"></div>
    <mat-card-content>
      <p>
        Team size:<br />
        <mat-chip>5-10 Devs</mat-chip> <mat-chip>Solo Front End Developer</mat-chip>
      </p>
      <p>
        Tasked with:<br />
        <mat-chip>Performance</mat-chip> <mat-chip>Animations</mat-chip> <mat-chip>Styling and Markup</mat-chip> <mat-chip>Site Redesign</mat-chip> <mat-chip>Scheduling Calendar</mat-chip>
      </p>
      <p>
        Industry:<br />
        <mat-chip>Travel</mat-chip> <mat-chip>Nightlife</mat-chip>
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Director of Data Management<mat-chip>6 years</mat-chip></mat-card-title>
      <mat-card-subtitle>Light Group, Las Vegas, NV</mat-card-subtitle>
    </mat-card-header>
    <div id="img-lg"></div>
    <mat-card-content>
      <p>
        Team size:<br />
        <mat-chip>Lead a team of 3</mat-chip> <mat-chip>16 venues</mat-chip>
      </p>
      <p>
        Tasked with:<br />
        <mat-chip>Database</mat-chip> <mat-chip>Reporting</mat-chip> <mat-chip>Logistics</mat-chip>
      </p>
      <p>
        Industry:<br />
        <mat-chip>Nightlife</mat-chip>
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>US Air Force<mat-chip>6 years</mat-chip></mat-card-title>
      <mat-card-subtitle>Alabama, South Korea, Nevada</mat-card-subtitle>
    </mat-card-header>
    <div id="img-usaf"></div>
    <mat-card-content>
      <p>
        Tasked with:<br />
        <mat-chip>Support Staff</mat-chip> <mat-chip>Database</mat-chip> <mat-chip>Reporting</mat-chip> <mat-chip>Administrative</mat-chip>
      </p>
    </mat-card-content>
  </mat-card>
</div>
