<h3>Other stuff</h3>
<div class="other-stuff">
  <div>
    <h4>
      Gym Dad
    </h4>
    <p>
      1x Competitive Gymnast<br />
      1x Aspiring Gymnast<br />
      1x Aspiring Ninja Warrior
    </p>
  </div>
  <div>
    <h4>
      Pets
    </h4>
    <p>
      2 Guinea Pigs<br />
      Biscuit <mat-chip>American</mat-chip> <mat-chip>Shorthair</mat-chip> <mat-chip>Dark Brown</mat-chip> <mat-chip>Playful</mat-chip><br />
      Chowder <mat-chip>American</mat-chip> <mat-chip>Shorthair</mat-chip> <mat-chip>Calico</mat-chip> <mat-chip>Chill</mat-chip>
    </p>
  </div>
  <div>
    <h4>
      Reading
    </h4>
    <p>
      Recent books:<br />
      American Reckoning, Christian G Appy<br />
      Midnight in Chernobyl, Adam Higginbotham<br />
      Endurance, Alfred Lansing
    </p>
  </div>
</div>
