@import '../../../scss/mixins';

:host {
  .other-stuff {
    display: grid;
    grid-gap: 1rem;
    gap: 15px;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    & mat-chip {
      --mdc-chip-container-height: 20px;
      --mdc-chip-label-text-size: 12px;
      height: var(--mdc-chip-container-height);
      margin: 2px;
      font-size: var(--mdc-chip-label-text-size);
    }
    @include screen-md-and-up {
      grid-template-columns: repeat(3, 1fr);
      text-align: left;
    }
  }
}
