@import '../../../scss/mixins';
:host {
  .center {
    text-align: center;
    padding: 0 10px;
  }
  .styled {
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px 1px 8px var(--gray-700);
    position: relative;
    text-indent: -18px;
    padding: 0 15px 0 33px;
    margin-left: 25px;
  }
  .flex {
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    justify-content: space-between;

    @include screen-lg-and-up {
      flex-direction: row;
    }
  }
}
