<div class="flex">
  <h2><span class="gradient-text">So who am I?</span></h2>
  <div>
    <span class="highlight yellow">Developer</span> based out of <span class="highlight red">Vegas</span>, delivering beautiful <br />
    <span class="highlight blue">websites</span> and <span class="highlight green">experiences</span> your customers won't forget.
  </div>
</div>

<div class="flex">
  <div class="longer">
    <p>
      I started making websites 20 years ago. Eventually, my passion turned into my professional journey. It has been based in adapting quickly to a multitude of languages, environments, and interpersonal relations. I've worked on large teams, small groups and solo developed. I've been tasked with internationalization, accessability, and performance while working on white labeled products in demanding roles and delivering results.
    </p>
    <p>
      I have code running on production environments using PHP, Drupal, Adobe ColdFusion, JavaScript, TypeScript, Angular, React, Automated Testing and HLS Adaptive Video currently. A continued usage of tools like GitHub, GitHub Actions, Bootstrap, Material UI, TailWind, VS Code, Postman and Jest. My knowledge isn't only based on what I can do with tools I choose, but I've maintained and updated legacy systems as well in Flash Video Player, Knockout, and AngularJS.
    </p>
    <p>
      Websites aren't my only desire though. My degree is in Software Engineering, not just website development. Java was my baseline language in school. I've used that to make games for multiple Ludum Dares. Functional programming languages, especially Haskell, are a personal favorite of mine. Script languages and Excel are probably the unsung heroes I take for granted.
    </p>
  </div>
  <div class="styled">
    <p>
      - Front End Developer for over 10 years.
    </p>
    <p>
      - Making websites for 20 years.
    </p>
    <p>
      - Experience working in teams large and small.
    </p>
    <p>
      - Delivering Animations, Internationalization, Accessability, Adaptive Video, Performance, and Results you will love.
    </p>
  </div>
</div>
