@import '../../../scss/mixins';

:host {
  --gray-700: oklch(36.98% 0.014 302.71);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .rainbow ,
  .star-thing,
  .asterick,
  h1,
  .main:after,
  .availability,
  .location,
  .availability-bg,
  .location-bg {
    position: absolute;
  }
  .rainbow {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -5;
    --opacity: .5;
    background: linear-gradient(124deg, rgba(255, 36, 0, var(--opacity)),
     rgba(232, 29, 29, var(--opacity)),
     rgba(232, 183, 29, var(--opacity)),
     rgba(227, 232, 29, var(--opacity)),
     rgba(29, 232, 64, var(--opacity)),
     rgba(29, 221, 232, var(--opacity)),
     rgba(43, 29, 232, var(--opacity)),
     rgba(221, 0, 243, var(--opacity)),
     rgba(221, 0, 243, var(--opacity)));
    background-size: 1800% 1800%;
    animation: rainbow 12s ease infinite;
  }
  .fly-in {
    position: relative;
    height: 144px;
    margin-left: 25px;
    @include screen-lg-and-up {
      width: 38vw;
    }
  }
  h1 {
    border: 15px solid white;
    padding: 20px;
    margin: 10px;
    font-size: 48px;
    box-shadow: 3px 1px 8px var(--gray-700), inset 3px 1px 8px var(--gray-700);
    background: rgba(0,0,0,0);
    transform-origin: 50% 50%;
    animation: back-in-left-animation 1s ease 0s 1 normal both running, opacity-on 4s ease-in-out infinite;
    line-height: 100%;
    white-space: nowrap;
    @include screen-lg-and-up {
      padding: 3vh 3vw;
      margin: 1vh 1vw;
      font-size: 5.9vw;
    }
  }
  .main {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    min-height: 100%;

    color: white;
    text-shadow: 3px 1px 8px var(--gray-700);
    padding: 20vh 0 0 10%;
    @include screen-md-and-up {
      background: url('../../../assets/me-beach2.png') no-repeat;
      background-position: center 37vh;
    }
    @include screen-lg-and-up {
      padding-top: 0;
      align-items: center;
    }
    &:after {
      background: url("../../../assets/leo-hWX2pboBPBk-unsplash.jpg") no-repeat;
      background-size: auto;
      content: "";
      top: 0;
      left: 0;
      background-size: cover;
      width: 100%;
      height: 100%;
      z-index: -10;
    }
    @include screen-lg-and-up {
      background-size: 991px 744px;
      background-position: right bottom;
    }
  }
  .hero-text {
    width: 500px;
  }
  .top {
    font-size: 32px;
    font-weight: 800;
    line-height: 100%;
    margin: 0;
    @include screen-lg-and-up {
      font-size: 3.9vw;
    }
  }
  .availability,
  .location,
  .availability-bg,
  .location-bg {
    display: none;
    @include screen-md-and-up {
      display: block;
    }
  }
  .availability,
  .location {
    bottom: 20px;
    font-size: 16px;
    text-shadow: 3px 1px 8px var(--gray-700);
    font-family: 'Alegreya Sans SC', sans-serif;
    &-bg {
      content: '';
      bottom: -70px;
      border-radius: 50%;
      background: rgba(0,0,0,0);
      border: 5px solid white;
      box-shadow: 3px 1px 8px var(--gray-700), inset 3px 1px 8px var(--gray-700);
    }
  }
  .location {
    left: 20px;
    &-bg {
      left: -10px;
      width: 200px;
      height: 200px;
      animation: opacity-on 4s ease-in-out 1s infinite;
    }
  }
  .availability {
    text-align: right;
    right: 20px;
    &-bg {
      right: -10px;
      width: 180px;
      height: 180px;
      animation: opacity-on 4s ease-in-out 2s infinite;
    }
  }
}
@keyframes opacity-on {
  0%{background: rgba(0,0,0,0);}
  50%{background: rgba(0,0,0,.5);}
  100%{background: rgba(0,0,0,0);}
}
@keyframes back-in-left-animation {
  0% {transform: translate(2000px, 0px) scale(0.7);
      opacity: 0.7;}
  80% {transform: translate(0px, 0px) scale(0.7);
      opacity: 0.7;}
  100% {transform: translate(0px, 0px) scale(1);
      opacity: 1;}
}
@keyframes dash {
  to {stroke-dashoffset: 1000;}
}
