
:host {
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
  }
  *:not(h1, h2, h3, h4, h5, h6) {
    font-family: 'Open Sans', sans-serif;
  }
  .rainbow {
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    animation: rainbow 8s ease infinite;
  }
  .fly-in {
    position: relative;
    height: 144px;
    margin-left: 25px;
  }
  h1 {
    border: 15px solid white;
    padding: 25px 30px;
    margin: 10px;
    box-shadow: 3px 1px 8px var(--gray-700), inset 3px 1px 8px var(--gray-700);
    background: rgba(0,0,0,.5);
    font-size: 72px;
    position: absolute;
    transform-origin: 50% 50%;
    animation: back-in-left-animation 1s ease 0s 1 normal both running, opacity-on 4s ease-in-out infinite;
  }
  .main {
    background: url('../../../assets/me-beach2.png') no-repeat right bottom;
    background-size: 991px 744px;
    color: white;
    text-shadow: 3px 1px 8px var(--gray-700);
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    padding-left: 10%;
    align-items: center;
    box-sizing: inherit;
  }
  .hero-text {
    width: 500px;
  }
  .top {
    font-size: 36px;
    font-weight: 800;
  }
  .right {
    width: 350px;
    text-align: right;
    margin-left: 150px;
  }
  .location {
    position: absolute;
    bottom: 80px;
    left: 50px;
  }
}
@keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes opacity-on {
  0%{background: rgba(0,0,0,0);}
  50%{background: rgba(0,0,0,.5);}
  100%{background: rgba(0,0,0,0);}
}
@keyframes back-in-left-animation {
  0% {
      transform: translate(2000px, 0px) scale(0.7);
      opacity: 0.7;
  }

  80% {
      transform: translate(0px, 0px) scale(0.7);
      opacity: 0.7;
  }

  100% {
      transform: translate(0px, 0px) scale(1);
      opacity: 1;
  }
}
