<div class="run-stuff">
  <h3>Running</h3>
  <mat-card>
    <mat-card-content>
      <p>
        I also really enjoy running. I'm one of those lucky ones who gets runners high. Turn on some Drum & Bass (like 155-180 BPM) and I will happily go for as long as my legs let me.
      </p>
    </mat-card-content>
  </mat-card>
  <div class="run-cards">
    <mat-card>
      <mat-card-content>
        <p>
          I've been interested in tracking runs via GPS since Google Tracks came out long ago. I still have runs logged <a href="https://www.google.com/maps/d/u/0/edit?mid=10v-A1WEAq8usXb4NcPc7xddpPXo&msa=0&ll=36.16788337431801%2C-115.32765400000001&z=15" target="_blank">2011</a> that I backed up when Tracks went offline. The only problem is that I've never consolidated all my GPS and GPX tracks. They've been spread over Google Tracks, Nike Run Club, Strava, and FitBit. I decided that 2021 would be my year to backtrack to and get it all into Strava. It was chosen over it's predecessor Nike Run Club because I didn't just want stats, but a run journal as well. <a (click)="navigateTo('/map')">Check out a state map of where I've ran.</a>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <p>
          I don't pick many hobbies, and I wouldn't claim that running is mine either. It's more like therapy. But I do coincidentally have a hobby of shopping for running shoes. I really love that running shoes go on deep discount too. Miles per dollar is a great metric for running shoes to me. If I had it my way, every shoe would be ran in until at least 250 miles. At that point, I feel like they've lived a good life that wasn't a total waste of a product. <a (click)="navigateTo('/shoes')">This is my shoe collection.</a>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <p>
          One time I was watching something... maybe YouTube maybe PBS, I'm not sure, but it was something about running, and the person was interviewing participants who proposed an interesting game. It requires no speed, technique, age, stride length, or fitness level at all. Take any run. Use the seconds from the final moving time of the run (e.g. total moving time of 25:13, use 13 seconds). Plug in the seconds into a list of all possible remaining second slots (0-59). Try to fill out a board with all 60 seconds over the course of a year. <a (click)="navigateTo('/runigami')">My results can be seen on this result board.</a>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
