@import '../../../scss/mixins';

:host {
  .run-cards {
    display: flex;
    gap: 15px;
    text-align: left;
    margin-top: 15px;
    flex-direction: column;
  }
  @include screen-md-and-up {
    .run-cards {
      flex-direction: row;
    }
  }
}
