<mat-toolbar>
  <svg xmlns="http://www.w3.org/2000/svg" width="40" viewBox="0 0 10 10">
    <circle cx="5" cy="5" r="5">
    </circle>
  </svg>
  <a (click)="navigateTo('/')" class="nav-brand">AdamTate.dev</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" (click)="navigateTo('/map')">Map</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="navigateTo('/shoes')">Shoes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="navigateTo('/runigami')">Runigami</a>
    </li>
  </ul>
</mat-toolbar>

