:host {
  mat-toolbar {
    position: relative;
  }
  .navbar-nav {
    display: flex;
  }
  .nav-item {
    margin-right: 10px;
  }
  mat-button {
    cursor: pointer;
  }
  .nav-brand,
  .nav-link {
    cursor: pointer;
    z-index: 2;
  }
  .nav-link {
    font-size: 14px;
  }
  svg {
    position: absolute;
    left: 15px;
    top: -15px;
    width: 95px;
    fill: #f00;
    z-index: 1;
  }
}
