:host {
  --gray-700: oklch(36.98% 0.014 302.71);
  mat-toolbar {
    position: relative;
    background-color: white;
    color: var(--gray-700);
    z-index: 100;
  }
  .shift {
    color: white;
  }
  .navbar-nav {
    display: flex;
  }
  .nav-item {
    margin-right: 10px;
  }
  mat-button {
    cursor: pointer;
  }
  .nav-brand,
  .nav-link {
    cursor: pointer;
    z-index: 2;
  }
  .nav-link {
    font-size: 14px;
  }
  svg {
    position: absolute;
    left: 15px;
    top: -15px;
    width: 95px;
    fill: #f00;
    z-index: 1;
  }
}
