<mat-toolbar>
  <svg class="rainbow" xmlns="http://www.w3.org/2000/svg" width="40" viewBox="0 0 10 10">
    <defs>
      <linearGradient id="grd" x2="100%" y2="100%" >
        <stop offset="0%" stop-color="#ff2400"></stop>
        <stop offset="11%" stop-color="#e81d1d"></stop>
        <stop offset="22%" stop-color="#e8b71d"></stop>
        <stop offset="33%" stop-color="#e3e81d"></stop>
        <stop offset="44%" stop-color="#1de840"></stop>
        <stop offset="55%" stop-color="#2b1de8"></stop>
        <stop offset="66%" stop-color="#ff2400"></stop>
        <stop offset="77%" stop-color="#dd00f3"></stop>
        <stop offset="88%" stop-color="#e8b71d"></stop>
        <stop offset="100%" stop-color="#dd00f3"></stop>
      </linearGradient>
      <mask id="msk">
        <g fill="white">
          <circle  cx="5" cy="5" r="5">

          </circle>
        </g>
      </mask>
    </defs>
    <g style="mask: url(#msk)">
      <rect x="-2000" y="0" width="2259" height="2000" fill='url(#grd)'>
        <animateTransform
          attributeType="XML"
          attributeName="transform"
          type="translate"
          values="0,0; 2000,0; 0,0"
          dur="10s"
          repeatCount="indefinite" />
      </rect >
    </g>
  </svg>
  <a (click)="navigateTo('/')" class="nav-brand"><span class="shift">AdamTate</span>.dev</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" (click)="navigateTo('/map')">Map</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="navigateTo('/shoes')">Shoes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="navigateTo('/runigami')">Runigami</a>
    </li>
  </ul>
</mat-toolbar>

